*{
  padding: 0;
  margin: 0;
}

html{
  position: relative;
  min-height: 100%;
}


body{
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  margin-bottom: 50px;
}

#conteiner{
  max-width: 1280px;
  min-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
}
header{
  height: 40px;
  margin: 0 auto;
  background-color: #393936;
  margin-bottom: 30px;
}
.brand{
  margin-left:5px;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.headerBlock{
  float: right;
  width: 25%;
  height: inherit;

}
.headerBlockSecond{
  float: left;
  width: 25%;
  height: inherit;
}
.enterBlock{
  float: left;
  margin:10px 40px;
}
.brandBlock{
  float: left;
  margin:10px 40px;
}
.search{
  margin-top: 20px;
  margin-bottom: 20px;
}
.table{
  margin-top: 30px;
}
.formInput{
  margin-bottom: 10px;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: #9d9d9d;
}
a:hover{
  color:white;
  text-decoration: none
}
.white{
  color:white;
}
.a:visited {
  color:white;
  text-decoration: none
}
.slash{
  vertical-align: middle;
  margin: 0 5px;
  font-weight: bold;
  color: #9d9d9d;
}
main{
  min-height: 300px;
}

.buttomAddNote{
  margin-bottom: 0px;
  margin-right: 0px;
}

.clear{
  clear: both;
}
footer{
  background-color:#393936;
  border:1px solid #232323;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;



}
.footerBlock{
  height: 40px;
  width: 50%;
  margin: 0 auto;
}
.footerContent{
  margin:10px 40px;
}
.footerBlock li{
  display: inline;
  padding: 30px;
  margin: 30px;
}
